<div class="row">
  <% @products.each do |product| %>
    <div class="card" style="width: 20rem;">
      <%= image_tag product.img, class => "card-img-top" %>
      <div class="card-body">
        <h4 class="card-title"><%= product.name %></h4>
        <p class="card-text"><%= product.country_of_origin %><br> $<%=product.price%></p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>

</div>
